VITE_MAPBOX_ACCESS_TOKEN=

# VITE_API_BASE_URL=http://192.168.8.12:8023/portal/api/v1/main
# VITE_API_BASE_URL2=http://192.168.8.12:8023/portal/api/docs/
VITE_API_URL=/api/v1/
VITE_API_MAIN_SERVICE=main


# how to use process.env.APP_NAME
APP_ID = 765f9bd7-583e-4551-9c29-2930b806b856
APP_NAME = PORTAL UP2D BANTEN
APP_ALIAS = portal
PUBLIC_URL = http://localhost:8013
WORKSPACE_ID = a5ee67f7191b2b53e7d63c8f62f8f94a

ADM_PROVINCE = 61

VITE_ENCODE = false
VITE_ENCRIPTION_PASSWORD = M0albeja2

API_BASE_URL = /api/v1/
API_MAIN_SERVICE = /main
API_UPLOAD = /upload

LATITUDE=0.12405
LONGITUDE= 110.54575

API_GOOGLE=AIzaSyBwjxbKPhkHuf9JKa3OQKqvTUBZQqWgsBg
